/*----------HOME----------*/

/* Modify the background color in navbar*/
.navbar-custom {
    background-color: black;
    font-family: "Times New Roman", serif;
    color: white;
}

.BG-IMAGE_MAIN{
    background-image: url("images/knihynapolici.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.books2{
    background-image: url("images/knihy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.btn-black{
    background-color: black;
    color:white;

}
.btn-black2{
    background-color: black;
    color:white;
    width:100%

}
.btn-black3{
    background-color: black;
    color:white;
    width:55%;
    margin-top:10%;


}

.bg-text_users_create{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
    color: black;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    margin-top: 35%;
    left: 20%;
    width: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;

}
.bg-text_contact_index{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
    color: black;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    margin-top: 25%;
    left: 20%;
    width: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;

}
.bg-text_contact_form{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
    color: black;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    margin-top: 35%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;

}
.bg-text_users{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
    color: black;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    margin-top: 70%;
    left: 5%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -5;
}
.form-custom {
    /*background-color: black;*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
    color:white;
    margin-top: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/*----------Events----------*/
.pozadie {
    background-color: black;
}


.obrazok {
    width: 100%;
    height:auto;
}
.text-event {
    width: 100%;
    height:100%;
    color: white;
    border: 3px solid #f1f1f1;
}
.text-event2 {
    width: 100%;
    height:100%;
    color: black;
    border: 3px solid #f1f1f1;
}

.nadpis1{
    text-align: center;
    font-family: "Monotype Corsiva",serif;
    color: silver;
    background-color: red;
    font-style: oblique;
}
.nadpis2{
    text-align: center;
    font-family: "Arial Black",serif;
    color: black;
    background-color: silver;
    font-style: oblique;
}
.podnadpis1{
    border: 2px solid red;
    text-align: center;
    font-family: "Monotype Corsiva",serif;
    color: red;
}
.podnadpis2{
    border: 2px solid silver;
    text-align: center;
    font-family: "Arial Black",serif;
    color: silver;
}


/*----------About----------*/
.team{
    background-color: dimgray;
    text-align: center;
}

/*noinspection CssNoGenericFontName*/
.team-h{
    background-color: black;
    font-family: "Times New Roman";
    color: silver;
    text-align: center;
}
.questions{
    background-color: darkgray;
    text-align: center;
}
.questions-h{
    background-color: red;
    font-family: "Times New Roman", serif;
    color: silver;
    text-align: center;

}
.event-obr{
    width:100%;
    height: 100%;
}
.envelop{
    background-image: url("images/team/paper.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}


/*Inspiration*/
.bg-text-inspo{
    border: 3px solid #f1f1f1;
    text-align: center;
    color: #f1f1f1;
}

/*______________________________________________________________________________________________________________________
ARTICLES
______________________________________________________________________________________________________________________*/
/*index*/
.column{
    width: 90%;
    height: 100%;
}
.article_image_show{
    width:50%;
    height:auto;
    float:left;
    margin-right: 1vw;
}
.contactIndex{
margin-bottom:25%;
}
.btn-black3-contacts{
    background-color: black;
    color:white;
    width:40%;
    margin-top:10%;
    margin-left: 10%;


}
/*show*/
@media only screen and (max-width: 700px){
    .article_image_show {
        width: 100%;
        height: auto;


    }
    .btn-black3-contacts{
        background-color: black;
        color:white;
        width:55%;
        margin-top: -20%;
        margin-left:20%;


    }
    .contactIndex{
        margin-top:30%;
        margin-bottom:90%;
        margin-left: 30%;

    }
    .form-margin{
        margin-left: 20%;
        margin-top: 50%;
    }
    .form-margin-users{
        margin-left: 30%;
        margin-top: 50%;
    }
    .form-custom {
        /*background-color: black;*/
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
        color:white;
        margin-top: 10%;
        margin-left: 20%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}



.filterInputs input {
    display: none;
}

.filterInputs label {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none; /* prevent highlight */
}

.filterInputs i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 2px red ;
    color: white;
    z-index: -1;
}

.filterInputs input:checked + i {
    background: red;
    color: white !important;
}


/* HELPER CLASSES */

.is-hidden {
    display: none;
}
